body {
  font-family: Arial, sans-serif;
  padding: 10px;
  background-color: #3e3c42;
}

.colorList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  row-gap: 10px;
}

.colorContainer {
  display: flex;
}

.colorInput {
  width: 60px;
  height: 25px;
  padding: 0;
  border: 0;
  cursor: pointer;
}
.colorInput::-moz-color-swatch {
  border: 0;
}

.deleteColorButton {
  font-weight: 700;
  border: 0;
  border-left: 1px solid black;
  cursor: pointer;
}

.colorOperations {
  display: flex;
  justify-content: space-between;
  width: 370px;
  height: 30px;
  margin-left: auto;
  margin-top: 20px;
}

.colorOperations__addColor {
  width: 150px;
  padding: 4px;
  text-align: center;
}

.colorOperations__resetColors {
  text-align: center;
}
